
.container {
    max-width: 1100px;
    margin:0 auto;
    overflow: visible;
    padding: 0 40px;
  }
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 20px;
    justify-content: center;
    height: 100%;
    overflow: visible;
}
.grid-3{
    grid-template-columns: repeat(3,1fr);
}

.text-center{
    text-align: center;
}


.card{
    padding: 20px;
    margin:10px;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
}
/*Text size*/
.sm{
    font-size: 1rem;
}
.md{
    font-size: 2rem;
}
.lg{
    font-size: 3rem;
}
.xl{
    font-size: 4rem;
}

/*Buttons*/
.btn{
    border: 0px;
    display:inline-block;
    background-color: #047aed;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    transform:scale(0.98);
}
.btn-outline{
    border-color:transparent;
    border: 2px #fff solid;
}
.btn-dark{
    background-color: #333;
}

/*Margin*/
.my-1{
    margin: 1rem 0;
}
.my-2{
    margin: 1.5rem 0;
}
.my-3{
    margin: 2rem 0;
}
.my-4{
    margin: 3rem 0;
}
.my-5{
    margin: 4rem 0;
}

.m-1{
    margin: 1rem ;
}
.m-2{
    margin: 1.5rem;
}
.m-3{
    margin: 2rem;
}
.m-4{
    margin: 3rem;
}
.m-5{
    margin: 4rem;
}

/*Padding*/
.py-1{
    padding: 1rem 0;
}
.py-2{
    padding: 1.5rem 0;
}
.py-3{
    padding: 3rem 0;
}
.py-4{
    padding: 4rem 0;
}
.py-5{
    padding: 5rem 0;
}
.p-1{
    padding: 1rem ;
}
.p-2{
    padding: 1.5rem;
}
.p-3{
    padding: 2rem;
}
.p-4{
    padding: 3rem;
}
.p-5{
    padding: 4rem;
}
